$blue: #2196f3;
$border: #d2d5d6;

.filter-module {
	padding: 15px;
	.Upper-header {
		color: #4a4a4a;
		font-weight: 600;
		margin-bottom: 11px;
		line-height: 19px;
		text-transform: uppercase;
	}
}
